
    label{
             color:Grey;
             border:0px solid;
             border-radius:25px;
             -moz-border-radius:25px;
               text-shadow:0px 0px 0px black
          }
        
    #i{
      color:#1E9FFF;
      }
    
    .muop{
      background-color:#1E9FFF;
      color:White;
      }